body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    text-shadow:2px 2px 10px rgba(0, 0, 0, 0.25);
  }

a:hover {
    background-color: lightpink;
}

a::after {
    content: "🎆";
}

a::before {
    content: "🎆";
}

.extra {
    margin: 50px;
    width: 200px;
    height: 200px;
    background-color: seagreen;
    text-align: center;

    box-shadow: 30px 25px 5px rgba(92, 153, 106, 0.5);
    border: 5px solid black;
    border-radius: 100px;
    cursor: grab;
}

.extra:hover {
    width: 1px;
    height: 1px;
}